.pv .node
{
    width: 30px;
    height: 22px;
    border: 1px solid rgb(175, 216, 248);
    /* Using inline block as we are storing every row in a separate div */
}

.pv .node-start
{
    background-color: rgb(233, 30, 30);
    background-position: center;
    background-size: cover;
}

.pv .node-finish
{
    background-color: rgb(0, 140, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* 
.pv .node-wall
{
    border: 1px solid #34495e;
    background-color: #34495e;
}
 */

.pv .node-wall {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes wallAnimation {
    0% {
      transform: scale(.3);
      background-color: rgb(12, 53, 71);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(12, 53, 71);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgb(12, 53, 71);
    }
  }


.pv .node-weight
{
    background-image: url(images/weight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* .pv .node-visited
{
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes visitedAnimation
{
    0%
    {
        background-color: rgba(63, 1, 1, 0.75);
    }

    50%
    {
        background-color: rgba(176, 0, 0, 0.75);
    }

    75%
    {
        transform: scale(1.2);
        background-color: rgba(217, 177, 0, 0.75);
    }

    100%
    {
        transform: scale(1);

        background-color: rgba(0, 255, 145, 0.75);
    }
}

.pv .node-visitedWeight
{
    animation-name: visitedWeightAnimation;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes visitedWeightAnimation
{
    0%
    {
        background-color: rgba(63, 1, 1, 0.75);
    }

    50%
    {
        background-color: rgba(176, 0, 0, 0.75);
    }

    75%
    {
        transform: scale(1.2);

        background-color: rgba(217, 177, 0, 0.75);
    }

    100%
    {
        transform: scale(1);

        opacity: .75;
        background-image: url(images/visitedWeight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

 */


.pv .node-visited{
    border: 1px solid rgb(175, 216, 248);
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  .pv .node-visitedWeight{
    border: 1px solid rgb(175, 216, 248);
    background-image: url(images/visitedWeight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(.3);
      background-color: rgba(63, 1, 1, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(176, 0, 0, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(217, 177, 0, 0.75)
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgba(0, 255, 145, 0.75);
    }
  }

.pv .node-path
{
    animation-name: shortestPathAnimation;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;

    animation-fill-mode: forwards;
}
@keyframes shortestPathAnimation
{
    0%
    {
        background-color: rgba(0, 102, 255, 0.842);
    }

    50%
    {
        background-color: rgba(241, 18, 40, 0.945);
    }

    75%
    {
        transform: scale(1.2);

        background-color: rgba(255, 157, 0, 0.75);
    }

    100%
    {
        transform: scale(1);

        background-color: rgba(255, 242, 0, .75);
    }
}

.pv .node-path-weight
{
    animation-name: shortestPathAnimationWeight;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes shortestPathAnimationWeight
{
    0%
    {
        background-color: rgba(240, 171, 69, .842);
    }

    50%
    {
        background-color: rgba(241, 238, 18, .945);
    }

    75%
    {
        transform: scale(1.2);

        background-color: rgba(104, 163, 230, .75);
    }

    100%
    {
        transform: scale(1);

        background-image: url(images/pathWeight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}